@model ReservationSystem.Models.SittingUnit.Allocate

@{
    ViewData["Title"] = "Allocate Sitting Units";
}

<h1>Allocate</h1>

<a class="btn btn-info" role="button" asp-action="Index">Back to List</a>

<br />
<div>
    <h4>Sitting Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Sitting.SittingCategory.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Sitting.SittingCategory.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Sitting.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Sitting.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Sitting.SittingCategory.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Sitting.SittingCategory.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Sitting.SittingCategory.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Sitting.SittingCategory.EndTime)
        </dd>

    </dl>
</div>

<div>
    <h4>Reservation Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.NumOfGuests)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.NumOfGuests)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.ExpectedStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.ExpectedStartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.ExpectedEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.ExpectedEndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Notes)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Allocate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SittingUnitsId" class="control-label"></label>
                <select asp-for="SittingUnitsId" asp-items="Model.SittingUnits" class="form-control" multiple="multiple">
                </select>
                <span asp-validation-for="SittingUnitsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="allocate" type="submit" value="Allocate" class="btn btn-primary" hidden />
            </div>
        </form>
    </div>
</div>

<input id="allocate1" asp-action="Allocate" type="submit" value="Allocate1" class="btn btn-primary" />

<table style="border: 2px solid black">
    <thead>
        <tr>
            <td></td>
            @foreach (var t in Model.SCTables)
            {
                <td>@t.Table.Name</td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var ts in Model.SCTimeslots)
        {
            <tr>
                <td>@ts.StartTime</td>
                @foreach (var t in Model.SCTables)
                {

                    <td><a>@ts.Id @t.Id @Model.FullSittingUnits.FirstOrDefault(asu => asu.TimeslotId == ts.Id && asu.TableId == t.Id).Id</a></td>

                }
            </tr>

        }
    </tbody>
</table>

<div id="scheduler" style="padding-top: 50px;"></div>



@section Styles{
    
    <link href="~/scheduler/scheduler.css" rel="stylesheet" />
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    

    <script src="~/scheduler/scheduler.js"></script>
    <script>
        var sittingDate = '@Model.Reservation.Sitting.Date.ToShortDateString()';
        var sittingName = '@Model.Reservation.Sitting.SittingCategory.Name';
        var tables = @Json.Serialize(Model.SCTablesDTO);
        var timeslots =@Json.Serialize(Model.SCTimeslotsDTO);
        var sittingUnits =@Json.Serialize(Model.SittingUnitsDTO);

        var reservationId = @Model.Reservation.Id;
        var selectedSittingUnitId = [];

        $("#scheduler").scheduler(
            {
            sittingDate: sittingDate,
            sittingName: sittingName,
            timeslots: timeslots,
            tables: tables,
            sittingUnits: sittingUnits,
            }
        );

        $("#allocate1").on("click", () => {

            selectedSittingUnitId = $(".booked").map(function () {
                return parseInt(this.id);
            }).get();

            console.log(selectedSittingUnitId);

            //Post back selected ids
            $.ajax({
                type: "POST",
                url: '/SittingUnit/Allocate',
                data: { reservationId: reservationId, selectedSittingUnitId: selectedSittingUnitId },
                dataType: "json",
                success: function (data) {
                    window.location.href = data;
                },
            });
        });

    </script>

}
