@model ReservationSystem.Areas.Admin.Models.SittingUnit.Allocate

@{
    ViewData["Title"] = "Allocate Sitting Units";
}

<h1>Allocate</h1>

<a class="btn btn-info" role="button" asp-controller="Reservation" asp-action="IndexReservation">Back to List</a>

<br />
<div>
    <h4>Sitting Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentReservation.Sitting.SittingCategory.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentReservation.Sitting.SittingCategory.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentReservation.Sitting.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentReservation.Sitting.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentReservation.Sitting.SittingCategory.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentReservation.Sitting.SittingCategory.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentReservation.Sitting.SittingCategory.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentReservation.Sitting.SittingCategory.EndTime)
        </dd>

    </dl>
</div>

<div>
    <h4>Reservation Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentReservation.NumOfGuests)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentReservation.NumOfGuests)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentReservation.ExpectedStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentReservation.ExpectedStartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentReservation.ExpectedEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentReservation.ExpectedEndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentReservation.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentReservation.Notes)
        </dd>
    </dl>
</div>

@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Allocate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SittingUnitsId" class="control-label"></label>
                <select asp-for="SittingUnitsId" asp-items="Model.SittingUnits" class="form-control" multiple="multiple">
                </select>
                <span asp-validation-for="SittingUnitsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="allocate1" type="submit" value="Allocate1" class="btn btn-primary" hidden />
            </div>
        </form>
    </div>
</div>*@


@*<table style="border: 2px solid black">
    <thead>
        <tr>
            <td></td>
            @foreach (var t in Model.SCTables)
            {
                <td>@t.Table.Name</td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var ts in Model.SCTimeslots)
        {
            <tr>
                <td>@ts.StartTime</td>
                @foreach (var t in Model.SCTables)
                {

                    <td><a>@ts.Id @t.Id @Model.FullSittingUnits.FirstOrDefault(asu => asu.TimeslotId == ts.Id && asu.TableId == t.Id).Id</a></td>

                }
            </tr>

        }
    </tbody>
</table>*@

@if ((int)Model.CurrentReservation.Status ==1) { 
    <button id="toggler"class="btn btn-primary">Enable Reallocation</button>
}
<input id="allocate" asp-action="Allocate" type="submit" value="Allocate" class="btn btn-primary" /><br/>

<div id="scheduler" class="container-fluid"></div>



@section Styles{
    
    <link href="~/scheduler/scheduler.css" rel="stylesheet" />
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    

    <script src="~/scheduler/scheduler.js"></script>
    <script>
        var sittingDate = '@Model.CurrentReservation.Sitting.Date.ToShortDateString()';
        var sittingName = '@Model.CurrentReservation.Sitting.SittingCategory.Name';
        var currentReservationId = @Model.CurrentReservation.Id;
        var tables = @Json.Serialize(Model.SCTablesDTO);
        var timeslots =@Json.Serialize(Model.SCTimeslotsDTO);
        var sittingUnits =@Json.Serialize(Model.SittingUnitsDTO);


        var selectedSittingUnitId = [];

        var x = 100 / timeslots.length + '%';


        $(document).ready(function () {
            if (@((int)Model.CurrentReservation.Status)> 0) {
                $("#allocate").hide();
                $("#scheduler").scheduler(
                    {
                        responsiveWidth: x,
                        sittingDate: sittingDate,
                        sittingName: sittingName,
                        currentReservationId: currentReservationId,
                        timeslots: timeslots,
                        tables: tables,
                        sittingUnits: sittingUnits,
                        clickEnabled: false,
                    }
                );
            }
            else {
                $("#scheduler").scheduler(
                    {
                        responsiveWidth: x,
                        sittingDate: sittingDate,
                        sittingName: sittingName,
                        currentReservationId: currentReservationId,
                        timeslots: timeslots,
                        tables: tables,
                        sittingUnits: sittingUnits,
                        clickEnabled: true,
                    }
                );
            }
        
            $("#toggler").click(function () {
                if(confirm("Do you wish to enable the reallocation?")){
                $("#allocate").show();
                $(this).hide();
                $(".timeslot").on("click", function (e) {
                    if (!$(e.target).hasClass("occupied")) {
                        if (!$(e.target).hasClass("booked")) { $(e.target).addClass("booked") }
                        else { $(e.target).removeClass("booked") }
                    }
                    });
                    

            }
                else { return false; };
            });

        });

        






        $("#allocate").on("click", () => {

            //Get id's of all elements with a particular class

            selectedSittingUnitId = $(".booked").map(function () {
                return parseInt(this.id);
            }).get();

            //console.log(selectedSittingUnitId);
            if (selectedSittingUnitId.length == 0) {
                if (confirm("Do you want to proceed with no allocation?")) { }
                else { return false; }
            }
             //Post back selected ids
            $.ajax({
                type: "POST",
                url: '/Admin/SittingUnit/Allocate',
                data: { currentReservationId: currentReservationId, selectedSittingUnitId: selectedSittingUnitId },
                dataType: "json",
                success: function (data) {
                    window.location.href = data;
                },
            });
        });

    </script>

}
