@model ReservationSystem.Areas.Admin.Models.Report.ReportSitting

@{
    ViewData["Title"] = "Report";
}

<div class="row mx-5">

    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="col-6">
            </div>
        </div>
        <hr />
    </div>

    @if ((bool)ViewData["Check"])
    {
        <div class="col-4">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.AvgOcpy)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AvgOcpy)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.HighestOcpy)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HighestOcpy)
                </dd>
            </dl>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    }
    else
    {
        <p>No report available</p>
    }

</div>
