@model ReservationSystem.Data.Reservation

@{
    ViewData["Title"] = "Details";
}

<h3>Reservation Details</h3>
<p></p>

<table class="table" id="SittingInfo">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Sitting.Date)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Sitting.SittingCategory.Name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Sitting.SittingCategory.StartTime)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Sitting.SittingCategory.EndTime)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Html.DisplayFor(model => model.Sitting.Date)</th>
            <td>@Html.DisplayFor(model => model.Sitting.SittingCategory.Name)</td>
            <td>@Html.DisplayFor(model => model.Sitting.SittingCategory.StartTime)</td>
            <td>@Html.DisplayFor(model => model.Sitting.SittingCategory.EndTime)</td>
        </tr>
    </tbody>
</table>

<dl class="row" id="ReservationInfo">
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.NumOfGuests)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.NumOfGuests)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.ExpectedStartTime)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.ExpectedStartTime)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.ExpectedEndTime)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.ExpectedEndTime)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Notes)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Notes)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.TimeOfBooking)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.TimeOfBooking)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.WayOfBooking)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.WayOfBooking)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Status)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Status)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Customer)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Customer.CustEmail)
    </dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
