@model ReservationSystem.Data.Reservation

@{
    ViewData["Title"] = "Your Reservation Details";
}

<div class="row mx-5">
   
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="col-6">
                <a class="btn btn-info float-right" asp-action="HistoryReservation">Back to List</a>
            </div>
        </div>      
        <hr />
    </div>

    <div class="col-8 mx-auto" id="ReservationInfo">
        <div class="row">
            <div class="col-6">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Sitting.Date)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Sitting.Date)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ExpectedStartTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ExpectedStartTime)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ExpectedEndTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ExpectedEndTime)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NumOfGuests)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NumOfGuests)
                    </dd>
                </dl>
            </div>
            <div class="col-6">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Notes)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Notes)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.TimeOfBooking)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TimeOfBooking)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.WayOfBooking)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WayOfBooking)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-8 mx-auto">
        @if ((int)Model.Status == 0)
        {
            <a id="cancel" class="btn btn-primary" asp-action="CancelReservation" asp-route-id="@Model.Id">Cancel</a>
        }
        else if ((int)Model.Status == 1)
        {
            <p>Please contact our staff if you wish to modify your reservation.</p>
        }
        
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#cancel").on("click", () => {
            if (confirm("Do you want to cancel this allocation?")) { }
            else { return false; }
        });
    </script>
}
