@model ReservationSystem.Data.SittingCategory

@{
    ViewData["Title"] = "DetailsSC";
}

<h3>Sitting Category Details</h3>
<p></p>
<div>

    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Duration)
        </dd>
    </dl>

    <div class="row">
        <div class="col-sm-6">
            <h4>Timeslots</h4>
            <table class="table">
                <tbody>
                    @foreach (var item in Model.SCTimeslots)
                    {
                        <tr>
                            <td>@(item.StartTime + " - " + item.EndTime)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h4>Tables</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Area</th>
                        <th scope="col">Tables</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Main</td>
                        <td>@ViewBag.mainString</td>
                    </tr>
                    <tr>
                        <td>Outside</td>
                        <td>@ViewBag.outsideString</td>
                    </tr>
                    <tr>
                        <td>Balcony</td>
                        <td>@ViewBag.balconyString</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Sittings</h4>
            <a class="btn btn-info" role="button" asp-controller="Sitting" asp-action="CreateSitting" asp-route-id="@Model.Id">Create New</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SCSittings)
                    {
                        <tr>
                            <td>@item.Date</td>
                            <td>@item.Status</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <a class="btn btn-info" role="button" asp-action="IndexSC">Back to List</a>

</div>




    


    