@model IEnumerable<ReservationSystem.Data.Sitting>

@{
    ViewData["Title"] = "Index -Sitting";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateSitting">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SittingCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SittingCategory.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SittingCategory.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SittingCategory.Capacity)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@TempData["Message"]");
            };
    </script>

}  