@model IEnumerable<ReservationSystem.Data.Sitting>

@{
    ViewData["Title"] = "Index -Sittings";
}

<h3>All Sittings</h3>

<p>
    <a class="btn btn-info" role="button" asp-action="CreateSitting">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Sitting Category</th>
            <th>Capacity</th>
            <th>Used Capacity</th>
            <th>Remaining Capacity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SittingCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemainingCapacity)
            </td>
            <td>
                <a class="btn btn-info" role="button" asp-action="DetailsSitting" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@TempData["Message"]");
            };
    </script>

}  