@model ReservationSystem.Areas.Admin.Models.Sitting.CreateSitting

@{
    ViewData["Title"] = "Create Sitting";
}

<h4>Create Sitting</h4>

<hr />
<div class="row">
    <div class="col-12">

        <form asp-action="CreateSitting">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control calendar" id="StartDate" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control calendar" id="EndDate" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>


            @if (Model.SittingCategoryId > 0)
            {
                <input type="hidden" asp-for="SittingCategoryId" />
                <div>
                    <h4>Sitting Category Info</h4>
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.SittingCategory.Name)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.SittingCategory.Name)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.SittingCategory.Capacity)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.SittingCategory.Capacity)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.SittingCategory.StartTime)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.SittingCategory.StartTime)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.SittingCategory.EndTime)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.SittingCategory.EndTime)
                        </dd>
                    </dl>
                </div>
            }

            <input type="submit" value="Create" class="btn btn-primary" />

        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script>
        $('#StartDate').attr('min', "2021-01-01");
        $('#StartDate').on('change', function () {
            $('#EndDate').attr('min', $('#StartDate').val());
        })
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
