@model ReservationSystem.Data.Sitting

@{
    ViewData["Title"] = "Sitting - Details";
}

<h4>Sitting  Details</h4>

<div>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SittingCategory)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SittingCategory.Name)
        </dd>
        <dt class="col-sm-4">
            Capacity
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class="col-sm-4">
            Used Capacity
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UsedCapacity)
        </dd>
        <dt class="col-sm-4">
            Remaining Capacity
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RemainingCapacity)
        </dd>
    </dl>
</div>

@*<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@

<div>
    @* su table *@
</div>
