@model ReservationSystem.Data.Sitting

@{
    ViewData["Title"] = "Sitting Details";
}

<div class="row mx-5">

    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="col-6">
                @*<a class="btn btn-info float-right" role="button" asp-controller="SittingCategory" asp-action="DetailsSC" asp-route-id="@Model.SittingCategoryId">Back to Category</a>
        <a class="btn btn-info float-right mr-3" role="button" asp-action="IndexSitting">Back to Sitting List</a>*@
                <button class="btn btn-info float-right" onclick="history.go(-1)">Go Back</button>
            </div>
        </div>
        <hr />
    </div>

    <div class="col-4">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SittingCategory.StartTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SittingCategory.StartTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SittingCategory.EndTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SittingCategory.EndTime)
            </dd>
        </dl>
    </div>
    <div class="col-4">
        <dl>
            <dt>
                Capacity
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Capacity)
            </dd>
            <dt>
                Used Capacity
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UsedCapacity)
            </dd>
            <dt>
                Remaining Capacity
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RemainingCapacity)
            </dd>
        </dl>
    </div>
    <div class="col-4">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SittingCategory)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SittingCategory.Name)
            </dd>
        </dl>
    </div>

    <div class="col-12 mt-3">
        <h5>Reservations</h5>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Arrival</th>
                    <th scope="col">Leave</th>
                    <th scope="col">Guests</th>
                    <th scope="col">Status</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Reservations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sitting.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpectedStartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpectedEndTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumOfGuests)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.CustEmail)
                        </td>
                        <td>
                            <a asp-action="DetailsReservation" asp-controller="Reservation" asp-route-id="@item.Id">Details</a>
                            @if ((int)item.Status == 0)
                            {
                                <a asp-action="Allocate" asp-controller="SittingUnit" asp-route-id="@item.Id"> | Allocate</a>
                            }
                            else if ((int)item.Status == 1)
                            {
                                <a asp-action="Allocate" asp-controller="SittingUnit" asp-route-id="@item.Id"> | Reallocate</a>
                            }
                            @if ((int)item.Status < 2)
                            {
                                <a class="cancelreservation" asp-action="CancelReservation" asp-controller="Reservation" asp-route-id="@item.Id"> | Cancel</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    @*<div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>*@

    <div>
        @* su table *@
    </div>
</div>

@section Styles{ 
    <link href="~/css/my02.css" rel="stylesheet" />
}
    @section Scripts {
        <script>
            $(".cancelreservation").on("click", () => {
                if (confirm("Do you want to cancel this reservation?")) { }
                else { return false; }
            });
        </script>
    }
