@model IEnumerable<ReservationSystem.Data.Reservation>
@using ReservationSystem.Data.Enums;

@{    
    ViewData["Title"] = "Reservation - Home";
}

<h3>Manage Reservations</h3>

<p>
    <a class="btn btn-info" role="button"  asp-action="CreateReservation">Create Reservation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col" style="white-space: nowrap">@Html.DisplayNameFor(model => model.Sitting.Date)</th>
            <th scope="col" style="white-space: nowrap">@Html.DisplayNameFor(model => model.ExpectedStartTime)</th>
            <th scope="col" style="white-space: nowrap">@Html.DisplayNameFor(model => model.ExpectedEndTime)</th>
            <th scope="col" style="white-space: nowrap">@Html.DisplayNameFor(model => model.NumOfGuests)</th>
            <th scope="col" style="white-space: nowrap">@Html.DisplayNameFor(model => model.Status)</th>
            <th scope="col" style="white-space: nowrap">@Html.DisplayNameFor(model => model.Customer)</th>
            <th scope="col" style="white-space: nowrap"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sitting.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfGuests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustEmail)
            </td>
            <td>
                <a asp-action="DetailsReservation" asp-route-id="@item.Id">Details</a> |
                @if ((int)item.Status == 0)
                {
                    <a asp-action="Allocate" asp-controller="SittingUnit" asp-route-id="@item.Id">Allocate</a>
                }
                else if ((int)item.Status == 1)
                {
                    <a asp-action="Allocate" asp-controller="SittingUnit" asp-route-id="@item.Id">Reallocate</a>
                }

            </td>
        </tr>
}
    </tbody>
</table>
